In [3]:
pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Obtaining file:///C:/Users/Asus/Documents/python%20notebooks (from -r requirements.txt (line 4))
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.24.3)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\programdata\anaconda3\lib\site-packages (from seaborn->-r requirements.txt (line 3)) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn->-r requirements.txt (line 3)) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Installing collected packages: mlproject
  Attempting uninstall: mlproject
    Found existing installation: mlproject 0.0.1
    Uninstalling mlproject-0.0.1:
      Successfully uninstalled mlproject-0.0.1
  Running setup.py develop for mlproject
Successfully installed mlproject-0.0.1

In [4]:
if __name__=="__main__":
    logging.info('logging has started')

NameError: name 'logging' is not defined

In [5]:
pwd

'C:\\Users\\Asus\\Documents\\python notebooks'

In [6]:
cd src

C:\Users\Asus\Documents\python notebooks\src

In [1]:
from src.logger import logging

In [2]:
if __name__=="__main__":
    logging.info('logging has started')

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9E34-484A

 Directory of C:\Users\Asus\Documents\python notebooks\src

02/26/2024  11:59 AM    <DIR>          .
02/26/2024  12:04 PM    <DIR>          ..
02/25/2024  10:13 PM    <DIR>          .ipynb_checkpoints
02/25/2024  10:13 PM                 0 __init__.py
02/26/2024  11:59 AM               650 exception.py
02/26/2024  11:59 AM               413 logger.py
02/26/2024  11:58 AM                 0 utils.py
               4 File(s)          1,063 bytes
               3 Dir(s)  432,858,632,192 bytes free

In [9]:
cd ..

C:\Users\Asus\Documents\python notebooks

In [3]:
import os
import sys
from dataclasses import dataclass

In [4]:
from src.exception import CustomException

In [5]:
if __name__=="__main__":
    try:
        1/0
    except Exception as e:
        logging.info('divide by 0')
        raise CustomException(e,sys)

CustomException: Error occured in python script name [C:\Users\Asus\AppData\Local\Temp\ipykernel_2040\2477439469.py] line number [3] error message[division by zero]

In [24]:
import pandas as pd
df0=pd.read_csv('notebook\StudentsPerformance.csv')
df0

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
from src.components.data_ingestion import DataIngestion

In [7]:
if __name__=="__main__":
    obj=DataIngestion()
    obj.initiate_data_ingestion()